body{
    background-image: url(https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2020/05/19/file6vnj9b7vynp1hpnnqa8c-684723977-1566811486.jpg?itok=UR2b0eG1);
    background-size: cover;
}
.one{
    color: rgb(17, 236, 46);
}